@model User
@{
    ViewData["Title"] = "Index";
}


<div class="container">

    <div class="row">

        <div class="col-md-12">
            <h1> Hello, @Model.UserName !</h1>
            <div class="text-center">
                @if (Model.toDos != null)
                {
                <table class="table">
                    <thead>
                        <tr>
                            <td>Header</td>
                       
                            <td>Start From</td>
                      
                            <td>End to</td>
                       
                            <td>Task</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.toDos)
                        {
                            <tr>
                                
                                <td>@item.Header</td>
                            
                            
                                <td>@item.StartDate</td>
                          
                                <td>@item.EndDate</td>
                           
                                <td>@item.Task</td>
                                <td>
                                <form asp-action="DeleteTask" method="post" asp-route-id="@item.Id">

                                    <a asp-action="UpdateTask" asp-route-id="@item.Id" class=" btn btn-primary">Edit</a>

                                    <input type="submit" value="Delete" class="btn btn-secondary"/>

                                </form>
                                </td>
                            </tr>
                            
                        }
                        </tbody>
                    </table>
                    <a asp-action="AddTask" class="btn btn-primary">Add</a>
                }
                else
                {
                    <h2 class="text-warning">Task is empty!</h2>
                    <a asp-action="AddTask" class="btn btn-primary">Add</a>
                }
            </div>

        </div>

    </div>

</div>
